.recipe {
  background-color: #fceeda;
}

.recipes {
  background-color: #fae2be;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.recipe {
  margin: 10px 0;
}
.recipe-title {
  color: #fca95c;
  height: 10vh;
  width: 60vw;
  min-height: 50px;
  min-width: 200px;
  font-size: 30px;
}

.recipe-content {
  color:#25259b;
  font-size: 19px;
  height: 10vh;
  width: 60vw;
  min-height: 50px;
  min-width: 200px;
}

.recipe-material {
  background-color: rgb(238, 174, 90);
  font-size: 20px;
  padding-left: 10px;
  height: 10vh;
 
  min-height: 50px;
  
  color: #ffffff;
  margin-bottom: 40px;
}





/* .side-bar {
  background-color: #253141;
  width: 35vw;
  height: 100vh;
  position: relative;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
} */

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}


.create-room a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.accordion {
  width: 400px;
  max-width: 100%;

}

/* question-timeのCSS */
/* アコーディオンメニューの間隔 */
.accordion-box:not(:first-child) {
  margin-top: 20px;
}
  
/* 質問部分 */
.question-time {
  height: 90px;
  width: 25vw;
  margin: 0px 10px 0px 0px;
  background: #52a261;
  padding: 40px 20px 20px 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  position: relative;
}
  
/* Qマーク */

  
/* プラスマークアイコン */
.question-time span::before,
.question-time span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
}

/* プラスマークアイコンの横棒の位置調整など*/
.question-time span::before {
  right: 30px;
}
  
/* プラスマークアイコンの縦棒の位置調整など*/
.question-time span::after {
  right: 30px;
  transform: translateY(-50%) rotate(90deg);
}

/* 回答部分が開いている時は縦棒を横にする*/
.question-time span.open::after {
  transform: translateY(-50%) rotate(0);
}

/* 回答部分は最初非表示 */
.answer {
  display: none;/* 非表示にしておく */
  padding: 20px 20px 20px 80px;
  font-size: 18px;
  background: #fff;
  position: relative;
}

/* Aマーク */
.answer::before {
  content: 'A';
  font-size: 30px;
  font-weight: 700;
  color: #1d1d74;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
/* question-timeのCSS */


/* question-dishのCSS */
.accordion-box:not(:first-child) {
  margin-top: 20px;
}
  
/* 質問部分 */
.question-dish {
  height: 90px;
  width: 25vw;
  margin: 0px 10px 0px 0px;
  background: #52a261;
  padding: 40px 20px 20px 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  position: relative;
}
  
/* Qマーク */

  
/* プラスマークアイコン */
.question-dish span::before,
.question-dish span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
}

/* プラスマークアイコンの横棒の位置調整など*/
.question-dish span::before {
  right: 30px;
}
  
/* プラスマークアイコンの縦棒の位置調整など*/
.question-dish span::after {
  right: 30px;
  transform: translateY(-50%) rotate(90deg);
}

/* 回答部分が開いている時は縦棒を横にする*/
.question span.open::after {
  transform: translateY(-50%) rotate(0);
}

/* 回答部分は最初非表示 */
.answer {
  display: none;/* 非表示にしておく */
  padding: 20px 20px 20px 80px;
  font-size: 18px;
  background: #fff;
  position: relative;
}

/* Aマーク */
.answer::before {
  content: 'A';
  font-size: 30px;
  font-weight: 700;
  color: #1d1d74;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* question-dishのCSS */


